p {
  text-align: justify;
  color: rgb(31, 31, 31);
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.Diferenciaip {
  padding-left: 30px;
}

body {
  background-color: rgb(227, 228, 228);
}

.HTTP2 {
  padding-left: 30px;
}

.aMAC {
  padding-left: 30px;
}

.wifi {
  padding-left: 30px;
}

.contingut {
  padding-left: 30px;
}

h1 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  padding-left: 30px;
  color: white;
}

h2 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: rgb(59, 195, 233);
}

h3 {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: rgb(65, 128, 160);
}

h4 {
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: light;
  font-style: normal;
  color: rgb(84, 88, 89);
}

header {
  position: relative;
  display: inline-block;
}

.text {
  position: absolute;
  font-size: 150px;
  top: 40%;
  left: 15%;
  color: white;
}

hr {
  border: 1px solid rgb(63, 83, 98);
}

.HTTP2 {
  color: rgb(28, 31, 33);
}

iframe {
  border: 2px solid rgb(70, 130, 165);
}
